:root {
  --bgm-color: #040a11;
  --neon-green: #00e297;
  --font-body-light: #bac4e3;
  --font-body-dark: #a8afc2;
  --content-size: 1.1rem;
  --footer-color: #1e2421;
  --bg-grad-1: #141d18 !important;
  --bg-grad-2: #000000 !important;
  --bg-grad-3: #000000 !important;
  --bg-grad-4: #141d18 !important;
  --bg-grad-5: #000000 !important;
  --cursor-color: 0, 300, 0;
  --button-color: #00e297;
  --social-button-color: #2b7d47;
  --nav-bar-color:#000000;
  --nav-bar-txt-color:var(--font-body-light);
  --button-bg-color: #1e8475;
}

.light {
  --bgm-color: #ecf2f9 !important;
  --neon-green: #7d6286 !important;
  --font-body-light: #32355d !important;
  --font-body-dark: #000000 !important;
  --nav-bar-color: #32355d !important;
  --content-size: 1rem !important;
  --footer-color: #ecf2f9 !important;
  --bg-grad-1: #e4ddea !important;
  --bg-grad-2: #eae7e7 !important;
  --bg-grad-3: #e4ddea !important;
  --bg-grad-4: #f4f4f4 !important;
  --bg-grad-5: #f8f7f7 !important;
  --cursor-color: 0, 0, 0 !important;
  --button-color: #fff6f6 !important;
  --social-button-color: #373851 !important;
  --nav-bar-txt-color:#ecf2f9 !important;
  --button-bg-color: #9a7ca5 !important;
}

.light .courier {
  /* font-weight: bold; */
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  /* font-variant-caps:all-small-caps; */
  font-weight: bold;
  /* font-style: italic; */
}

body {
  background-color: #141d18;
}

.lottie-container {
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

main {
  margin-top: 70px;
  font-family: "Open Sans", sans-serif;
  background-image: linear-gradient(
    to bottom,
    var(--bg-grad-1),
    var(--bg-grad-2),
    var(--bg-grad-3),
    var(--bg-grad-4),
    var(--bg-grad-5)
  );
  color: var(--font-body-light);
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

.section {
  min-height: fit-content;
  min-height: 100vh;
  /* width: 75vw; */
  /* left:50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(8, 218, 15, 0.1);
  box-shadow: 0 5px 15px rgba(108, 97, 97, 0.3);
  box-sizing: content-box;
}

#home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.home-container {
  background-color: var(--bg-grad-5);
  box-shadow: 0 4px 6px var(--bg-grad-1);
  padding: 20px;
  width: 75vw;
  margin: 20px auto;
}

#about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.about-me-container {
  background-color: var(--bg-grad-5);
  box-shadow: 0 4px 6px var(--bg-grad-1);
  padding: 20px;
  width: 75vw;
  margin: 20px auto;
}

.about-me-container div.content{
  /* color:white; */
}

#projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  background-color: var(--bg-grad-5);
  box-shadow: 0 4px 6px var(--bg-grad-1);
  padding: 20px;
  width: 75vw;
  margin: 20px auto;
}

#education-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-container {
  background-color: var(--bg-grad-5);
  box-shadow: 0 4px 6px var(--bg-grad-1);
  padding: 20px;
  width: 75vw;
  margin: 20px auto;
}

#contact-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me-container {
  /* background-color: var(--bg-grad-2); */
  /* box-shadow: 0 4px 6px var(--bg-grad-1); */
  padding: 20px;
  /* width: 75vw; */
  margin: 20px auto;
}




.my-cursor {
  border-color: "0, 226, 151";
}

.intro {
  line-height: 1;
  width: 100vw;
}

.tagline {
  text-align: left;
  color: var(--font-body-dark);
  font-size: var(--content-size+0.5);
}

.my-name {
  font-size: 7rem;
  font-family: "Great Vibes", Arial;
  padding: 1px;
}

.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(43, 61, 47);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.back-to-top {
  color: var(--button-color);
  font-size: 1.1rem;
}

.header {
  background-color: var(--nav-bar-color, 0);
 
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-left: 75px;
  border: 1px solid rgba(8, 218, 15, 0.1);
  box-shadow: 0 5px 15px rgba(56, 52, 52, 0.3);
  box-sizing: content-box;
  width: 100vw;
  opacity:0.8;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color:#000000;
}

.header__nav li {
  margin: 0 15px;
  font-size: var(--content-size);
}

.header__nav a {
  color: var(--nav-bar-txt-color);
  text-decoration: none;
}

.header__nav a:hover {
  cursor: pointer;
}

div.body {
  max-width: 120vb;
  margin: 20px auto;
  padding: 20px;
  font-size: 1.5rem;
}

div.content {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  font-size: var(--content-size);
  font-weight: 500;
  color: var(--font-body-dark);
  font-family: Tahoma, Geneva, Tahoma;
}

.courier {
  color: var(--neon-green);
  font-family: "Courier New", Courier, monospace;
  /* font-size: 35px; */
}

.heading {
  color: var(--font-body-light);
  font-size: 3.5rem;
  margin-top: 10px;
  margin-bottom: 1px;
  font-weight: bold;
}

.dark {
  color: var(--font-body-dark);
  font-size: 55px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 20px 20px;
  background-color: #010814;
  color: var(--button-color);
  font-family: "Courier New", Courier, monospace;

  border-radius: 5px;
  text-align: left;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  border: 2px solid rgb(82, 81, 88);
  padding: 10px 50px;
  border-radius: 15px;
}

.btn:hover {
  background-color: var(--button-bg-color);
  color: black;
}

a {
  display: flex;
  color: #748fc1;
  text-decoration: none;
}

/* @media only screen and (max-width: 600px) {
  .jumbotron h2 {
    margin-top: 10px;
  }
} */

.app-img {
  width: 80%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}

.app-label {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: var(--button-color);
  border: 2px solid var(--button-color);
  background-color: #010814;
  padding: 10px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Courier New", Courier, monospace;
}

.a-image:hover .app-img {
  filter: blur(5px);
}

.a-image:hover .app-label {
  opacity: 1;
}

.img-url-label {
  opacity: 0;
}

/* ContactMe Component */
.contact-me {
  padding: 40px 0;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: var(--social-button-color);
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease;
  font-size: 35px;
  color:#ffffff;
}

.social-icons a:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.social-icons a i {
  font-size: 24px;
  padding-top: 2px;
}

footer {
  background-color: var(--footer-color);
  max-height: fit-content;
  text-align: center;
  font-size: small;
  font-family: "Courier New", Courier, monospace;
  color: white;
  /* padding: 20px; */
}

/* For small screens (up to 576px) */
@media (max-width: 576px) {
  .app-img {
    width: 100%;
    height: auto;
  }

  .content{
    font-size: 1rem !important;
  }

  .courier{
    font-size: 20px !important;
  }

  .contentStyle p{
    font-size: 12px !important;
  }

  .heading{
    font-size: 2rem !important;
  }

  .app-label {
    opacity: 0;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .img-url-label {
    opacity: 1;
    color: #787fe8;
    text-decoration-line: underline;
  }

  .my-name {
    font-size: 3.5rem !important;
  }
  .btn {
    width: fit-content !important;
    font-size: 20px !important;
  }

  .tagline {
    font-size: 30px !important;
  }

  .contact {
    color: var(--font-body-light);
  }

  .header {
    padding-left: 40px !important;
  }
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px !important;
  }

  .header__nav li {
    font-size: 12px !important;
    /* max-width: 40px; */
    padding: 0 0px;
  }
  .light-bulb {
    /* display:none; */
  }
  .cube-switch  {
    padding: 1px !important;
  }
  .cube-switch .switch {
    width: 20px !important;
    height: 40px !important;
    padding: 10px !important;
  }
  .cube-switch .switch-state {
    left: 30% !important;
    text-align: center !important;
  }
}

/* For medium screens (between 576px and 992px) */
@media (min-width: 576px) and (max-width: 992px) {
  .app-img {
    width: 80%;
    height: auto;
  }
}

/* For large screens (above 992px) */
@media (min-width: 992px) {
  .app-img {
    width: 70%;
    height: auto;
  }
}