:root {
  --bgm-color: #040a11;
  --neon-green: #00e297;
  --font-body-light: #e6e6f2;
  --font-body-dark: #d1d6e3;
  --content-size: 1.1rem;
  --footer-color: #1e2421;
  --bg-grad-1: #141d18 !important;
  --bg-grad-2: #3f4542 !important;
  --bg-grad-3: #000000 !important;
  --bg-grad-4: #213b2d !important;
  --bg-grad-5: 19, 18, 18 !important;
  --project-card-bg:#1c261d !important;
  --cursor-color: 0, 300, 0;
  --button-color: #00e297;
  --social-button-color: #2b7d47;
  --nav-bar-color:#000000;
  --nav-bar-txt-color:var(--font-body-light);
  --button-bg-color: #1e8475;
  --box-transparency: 0.6;    
}

.light {
  --bgm-color:            #000000 !important;
  --neon-green:           #6d3820 !important;
  --font-body-light:      #2f2d29 !important;
  --font-body-dark:       #151513 !important;
  --nav-bar-color:        #3d4a3b !important;
  --content-size:         1.1rem !important;
  --footer-color:         #9c7b30 !important;
  --bg-grad-1:            #e8e6df !important;
  --bg-grad-2:            #dcd9cf !important;
  --bg-grad-3:            #f8f7f3 !important;
  --bg-grad-4:            #eceae5 !important;
  --bg-grad-5:            255, 255, 205 !important;
  --project-card-bg:      #f7f6f2 !important;
  --cursor-color:         0, 0, 0 !important;
  --button-color:         #ffffff !important;
  --social-button-color:  #4b5e42 !important;
  --nav-bar-txt-color:    #ffffff !important;
  --button-bg-color:      #7a8d6a !important;  
  --box-transparency: 0.35;      
}


.home-container,
.about-me-container,
.projects-container,
.education-container,
.contact-me-container {
  background-color: rgba(var(--bg-grad-5), var(--box-transparency)); 
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 12px;
  transform: scale(0.90);
  margin: 20px auto;

  /* transform-origin: top center; */
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main {
  width: 100vw;
  min-height: 100vh;
} */


.light {
  background-image: url('https://images.unsplash.com/photo-1506624682682-13fa0130f321?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGVhcnRoeXxlbnwwfHwwfHx8MA%3D%3D?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fGVhcnRoeXxlbnwwfHwwfHx8MA%3D%3D?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTJ8fGVhcnRoeXxlbnwwfHwwfHx8MA%3D%3D?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D?auto=format&fit=crop&w=800&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
}

main {
  padding-top: 70px;
  font-family: "Open Sans", sans-serif;
  /* background-image: linear-gradient(
    to bottom,
    var(--bg-grad-1),
    var(--bg-grad-2),
    var(--bg-grad-3),
    var(--bg-grad-4),
    var(--bg-grad-5)
  ); */
  background-image: url('https://plus.unsplash.com/premium_photo-1676198153022-d92737932e57?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8bmVvbiUyMHNpZ25zJTIwY29kaW5nfGVufDB8fDB8fHww?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwxOXx8fGVufDB8fHx8fA%3D%3D?auto=format&fit=crop&w=800&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  color: var(--font-body-light);
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
}

root .transparent-section {
  background-color: rgba(20, 19, 19, 0.5);
  border-radius: 10px;
}

.light .courier {
  font-family: 'Poppins', 'Helvetica Neue', Helvetica;
  font-weight: bold;
}

body {
  background-color: #141d18;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 1.2s ease-in forwards;
}
@keyframes fadeInAnimation {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.lottie-container {
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 20%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 2s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

#home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container {
  box-shadow: 0 4px 6px var(--bg-grad-1);
  padding: 20px;
  width: 75vw;
  margin: 20px auto;
  border-radius: 10px;
}

#about-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-container {
  box-shadow: 0 4px 6px var(--bg-grad-1);
  padding: 20px;
  width: 75vw;
  margin: 20px auto;
}

.about-me-container div.content{
}

#projects-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  box-shadow: 0 4px 6px var(--bg-grad-1);
  padding: 20px;
  width: 75vw;
  margin: 10px auto;
}
.project-card {
  padding: 30px;
  min-height: fit-content;
  background-color: var(--bg-grad-4);
  border-radius: 5px;
  transform: perspective(1000px) translateZ(0);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  margin-bottom: 50px;
  background: rgba(34, 49, 63, 0.85);
  backdrop-filter: blur(8px) saturate(120%);
  box-shadow:
    0 10px 15px rgba(96, 83, 83, 0.15),
    0 25px 30px rgba(0, 0, 0, 0.1),
    inset 0 2px 16px 0 rgba(0,0,0,0.18),
    0 1.5px 3px 0 rgba(0, 226, 151, 0.08);
}

.project-card:hover {
  transform: perspective(1000px) translateY(-10px) scale(1.02);
  box-shadow:
    0 25px 50px rgba(0, 0, 0, 0.3),
    0 10px 15px rgba(0, 226, 151, 0.2),
    inset 0 0 10px rgba(255, 255, 255, 0.05);
}

.project-title {
  font-size: 25px;
  padding: 0;
  font-weight: bold;
}

.project-description {
  margin-top: 15px;
}

#education-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-container {
  box-shadow: 0 4px 6px var(--bg-grad-1);
  padding: 20px;
  width: 75vw;
  margin: 0 auto 20px auto;
}

#contact-me-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me-container {
  padding: 20px;
  margin: 20px auto;
}

.my-cursor {
  border-color: "0, 226, 151";
}

.intro {
  line-height: 1;
  width: 100vw;
}

.tagline {
  text-align: left;
  color: var(--font-body-dark);
  font-size: var(--content-size+0.5);
}

.my-name {
  font-size: 7rem;
  font-family: "Great Vibes", Arial;
  padding: 1px;
}

html {
  scroll-behavior: smooth;
}

.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(43, 61, 47);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.back-to-top {
  color: var(--button-color);
  font-size: 1.1rem;
}

.header {
  background-color: var(--nav-bar-color, 0);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-left: 75px;
  border: 1px solid rgba(8, 218, 15, 0.1);
  box-shadow: 0 5px 15px rgba(56, 52, 52, 0.3);
  box-sizing: content-box;
  width: 100vw;
  opacity:0.8;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color:#000000;
}

.header__nav li {
  margin: 0 15px;
  font-size: var(--content-size);
}

.header__nav a {
  color: var(--nav-bar-txt-color);
  text-decoration: none;
}

.header__nav a:hover {
  cursor: pointer;
}

div.body {
  max-width: 120vb;
  margin: 20px auto;
  padding: 20px;
  font-size: 1.5rem;
}

div.content {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  font-size: var(--content-size);
  font-weight: 500;
  color: var(--font-body-dark);
  font-family: 'Segoe UI', 'Arial', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
}

.courier {
  color: var(--neon-green);
  font-family: "Courier New", Courier, monospace;
}

.heading {
  color: var(--font-body-light);
  font-size: 3.5rem;
  margin-top: 10px;
  margin-bottom: 1px;
  font-weight: bold;
}

.dark {
  color: var(--font-body-dark);
  font-size: 55px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 20px 20px;
  background-color: #010814;
  color: var(--button-color);
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  text-align: left;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 2px solid rgb(82, 81, 88);
  padding: 10px 50px;
  border-radius: 15px;
}

.btn:hover {
  background-color: var(--button-bg-color);
  color: black;
}

a {
  display: flex;
  color: #748fc1;
  text-decoration: none;
}

.app-img {
  width: 80%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}

.app-label {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: var(--button-color);
  border: 2px solid var(--button-color);
  background-color: #010814;
  padding: 10px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Courier New", Courier, monospace;
}

.a-image:hover .app-img {
  filter: blur(5px);
}

.a-image:hover .app-label {
  opacity: 1;
}

.img-url-label {
  opacity: 0;
}

.contact-me {
  padding: 40px 0;
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: var(--social-button-color);
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease;
  font-size: 35px;
  color:#ffffff;
}

.social-icons a:hover {
  transform: scale(1.1);
  background-color: #00e297;
  color: #000;
}

.social-icons a i {
  font-size: 24px;
  padding-top: 2px;
}

footer {
  background-color: var(--footer-color);
  max-height: fit-content;
  text-align: center;
  font-size: small;
  font-family: "Courier New", Courier, monospace;
  color: white;
}

@media (max-width: 576px) {
  .app-img {
    width: 100%;
    height: auto;
  }

  .content{
    font-size: 1rem !important;
  }

  .courier{
    font-size: 20px !important;
  }

  .contentStyle p{
    font-size: 12px !important;
  }

  .heading{
    font-size: 2rem !important;
  }

  .app-label {
    opacity: 0;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .img-url-label {
    opacity: 1;
    color: #787fe8;
    text-decoration-line: underline;
  }

  .my-name {
    font-size: 3.5rem !important;
  }
  
  .btn {
    width: fit-content !important;
    font-size: 20px !important;
  }

  .tagline {
    font-size: 30px !important;
  }

  .contact {
    color: var(--font-body-light);
  }

  .header {
    padding-left: 40px !important;
  }
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px !important;
  }

  .header__nav li {
    font-size: 12px !important;
    padding: 0 0px;
  }
  .light-bulb {
  }
  .cube-switch  {
    padding: 1px !important;
  }
  .cube-switch .switch {
    width: 20px !important;
    height: 40px !important;
    padding: 10px !important;
  }
  .cube-switch .switch-state {
    left: 30% !important;
    text-align: center !important;
  }
  .section {
    min-height: fit-content;
    min-height: 100vh;
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(8, 218, 15, 0.1);
    box-shadow: 0 5px 15px rgba(108, 97, 97, 0.3);
    box-sizing: content-box;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .app-img {
    width: 80%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .app-img {
    width: 70%;
    height: auto;
  }
}
