:root {
  --bgm-color: #040a11;
  --neon-green: #00e297;
  --font-body-light: #97a0bc;
  --font-body-dark: #808594;
  --nav-bar-color:rgb(0, 0, 0);
}


/* For small screens (up to 576px) */
@media (max-width: 576px) {
  .app-img {
    width: 100%;
    height: auto;
  }
  .app-label {
    opacity: 0;
    padding: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .img-url-label {
    opacity: 1;
    color: #787fe8;
    text-decoration-line: underline;
  }
  .header {
    opacity: 0;
  }

  /* .header__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #000000;
    border: 1px solid #ffffff;
    height: 20px;
  }
  
  .header__nav li {
    margin-bottom: 1rem;
    color: #ffffff;
    height: 20px;
    padding: 10px;
  }
  
  .header__nav li:last-child {
    margin-bottom: 0;
  } */
  
  
}

/* For medium screens (between 576px and 992px) */
@media (min-width: 576px) and (max-width: 992px) {
  .app-img {
    width: 80%;
    height: auto;
  }
}

/* For large screens (above 992px) */
@media (min-width: 992px) {
  .app-img {
    width: 70%;
    height: auto;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bgm-color);
  color: var(--font-body-light);
  line-height: 1.5;
}

.section {
  min-height: 100vh;
  /* min-width:100vw; */
  display: flex; /* add display:flex to make each section a flexbox */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgba(8, 218, 15, 0.1);
  box-shadow: 0 5px 15px rgba(56, 52, 52, 0.3);
  box-sizing:content-box;
}

.scroll-to-top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgb(43, 61, 47);
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.scroll-to-top-button:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.back-to-top {
  color: var(--neon-green);
  font-size: 1.1rem;
}

.header {
  background-color: var(--nav-bar-color);
  color: #0a192f;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  padding-left: 75px;
  border: 1px solid rgba(8, 218, 15, 0.1);
  box-shadow: 0 5px 15px rgba(56, 52, 52, 0.3);
  box-sizing:content-box;
  width: 100vw;;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header__nav li {
  margin: 0 15px;
  font-size: 20px;
}

.header__nav a {
  color: #ffffff;
  text-decoration: none;
}

.header__nav a:hover {
  cursor: pointer;
}

div.body {
  max-width: 120vb;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
}

div.content {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--font-body-dark);
  font-family: Arial, Helvetica, sans-serif;
}

.courier {
  color: var(--neon-green);
  font-family: "Courier New", Courier, monospace;
  font-size: 35px;
  /* font-size: 20px; */
}

p.courier{
  font-size: 20px;
}

.heading {
  color: var(--font-body-light);
  font-size: 3.5rem;
  margin-top: 10px;
  margin-bottom: 1px;
}

.dark {
  color: var(--font-body-dark);
  font-size: 55px;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 20px 20px;
  background-color: #010814;
  color: var(--neon-green);
  font-family: "Courier New", Courier, monospace;

  border-radius: 5px;
  text-align: left;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  border: 2px solid rgb(82, 81, 88);
  padding: 10px 50px;
  border-radius: 15px;
}

.btn:hover {
  background-color: #46866a;
  color: black;
}


.skills {
  padding: 3rem;
  /* text-align: center; */
}
/* 
.skills-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
} */

.skills-list-item {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: var(--font-body-light);
}

.skills-list-title {
  /* font-weight: bold; */
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  color: var(--neon-green);
  display: table-cell;
  padding-right: 1em;
}

.skills ul {
  list-style: none;
  display: table;
}

.skills li {
  display: table-row;
}

a {
  display: flex;
  color: #748fc1;
  text-decoration: none;
}

/* @media only screen and (max-width: 600px) {
  .jumbotron h2 {
    margin-top: 10px;
  }
} */


.app-img {
  width: 100%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 20px;
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}

.app-img {
  width: 100%;
  height: auto;
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}

.app-label {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  color: #000000;
  /* border: 2px solid #131e15; */
  background-color: var(--neon-green);
  padding: 10px;
  border-radius: 5px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Courier New", Courier, monospace;
}

.a-image:hover .app-img {
  filter: blur(5px);
}

.a-image:hover .app-label {
  opacity: 1;
}

.img-url-label {
  opacity: 0;
}

